html {}

body {}

.title {
	color: #424242;
	font-size: 56px;
	margin-left: 15%;
	margin-top: 3.5%;
}

.list {
	margin-left: 7.5%;
	margin-right: 7.5%;
	list-style-type: none;
}

.itemList {
	font-size: 30px;
}

.itemList a {
	color: #D56558;
}